<html>
{% load static %}
<img src="{% static 'Catalog/images/Logo.jpg' %}" width="300" height="200" >
<h1> This is list of Category </h1>
    <h2><a href="{% url 'Catalog:upload_category' %}">Upload Category</a></h2>
        {% if category_list %}
        <p>
            <ul>
                {%for category in category_per_page %}
                    <li>
                        <p>Type of book: <a href ="{% url 'Catalog:product_page' category.id %}"> {{category.type}} </a> </p>
                        <img src="{{category.image_url }}"  width="400" height="500">
                        <p>
                            <a href="{% url 'Catalog:update_category' category.id%}">edit</a>
                            <a href="{% url 'Catalog:delete_category' category.id%}">delete</a>
                        </p>
                    </li>
                {% endfor %}
            </ul>
        </p>
        {% else %}
        <p> No type of category are available </p>
        {% endif %}
<hr><br/><br/>
        {% if category_per_page.has_previous %}
            <a href="?page=1"> &laquo First</a>
            <a href="?page={{category_per_page.previous_page_number}}">Previous</a>
        {% endif %}

        Page {{category_per_page.number}} of {{category_per_page.paginator.num_pages}}

        {% if category_per_page.has_next %}
            <a href="?page={{category_per_page.next_page_number}}">Next</a>
            <a href="?page={{category_per_page.paginator.num_pages}}">Last &raquo</a>
        {% endif %}

</html>